// Place all the styles related to the lands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
#map {
  height: 50%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
//添加一些精美的文字排版样式
h1,h2,h3,h4,h5,h6{ line-height: 1;
}
h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
}